In [51]:
import pandas as pd
import numpy as np

In [52]:
grades = {"Atil": 50, "James": 60, "Lars": 30,"Lars2": 30}
pd.Series(grades)

Atil     50
James    60
Lars     30
Lars2    30
dtype: int64

In [53]:
names = ["Atil", "James", "Lars"]
grades = [50, 60, 30]

pd.Series(grades)

0    50
1    60
2    30
dtype: int64

In [54]:
pd.Series(names,grades)

50     Atil
60    James
30     Lars
dtype: object

In [55]:
contest_rusult1 = pd.Series(data=[10,5,20], index=["Atil","James" ,"Lars"])
contest_rusult2 = pd.Series(data=[20,10,100], index=["Atil","James" ,"Lars"])

finalResult = contest_rusult1 * 40 / 100 + contest_rusult2 * 60 / 100
finalResult

Atil     16.0
James     8.0
Lars     68.0
dtype: float64

In [56]:
contest_rusult1 = pd.Series(data=[10,5,20], index=["Atil","Atil" ,"Lars"])
contest_rusult2 = pd.Series(data=[20,10,100], index=["Atil","James" ,"Lars"])
finalResult = contest_rusult1 * 40 / 100 + contest_rusult2 * 60 / 100
finalResult

Atil     16.0
Atil     14.0
James     NaN
Lars     68.0
dtype: float64

# Dataframe

In [61]:
data = np.random.randn(4,3)
data

array([[-0.65069631,  1.47521165,  0.0106923 ],
       [-1.96621755,  0.77137691, -1.45608701],
       [ 0.86476099, -0.08615524, -0.51141143],
       [ 1.20601029,  0.94223792,  0.60601524]])

In [38]:
dataframe = pd.DataFrame(data)
dataframe

          0         1         2
0 -0.759529 -0.222281  0.290953
1 -1.211638 -1.897151  1.110059
2  0.150839 -0.149028  0.386945
3 -1.399903 -2.285754 -0.646007

In [39]:
new_df = pd.DataFrame(data,index=["Atil","James","Lars","gokhan"],columns=["Salary","Age","Seniority"])
new_df

          Salary       Age  Seniority
Atil   -0.759529 -0.222281   0.290953
James  -1.211638 -1.897151   1.110059
Lars    0.150839 -0.149028   0.386945
gokhan -1.399903 -2.285754  -0.646007

In [40]:
new_df.loc["gokhan"]

Salary      -1.399903
Age         -2.285754
Seniority   -0.646007
Name: gokhan, dtype: float64

In [41]:
new_df.iloc[2]

Salary       0.150839
Age         -0.149028
Seniority    0.386945
Name: Lars, dtype: float64

In [42]:
new_df.iloc[:,2]

Atil      0.290953
James     1.110059
Lars      0.386945
gokhan   -0.646007
Name: Seniority, dtype: float64

# data manipulation

In [43]:
new_df["extra"] = 10

In [44]:
new_df

          Salary       Age  Seniority  extra
Atil   -0.759529 -0.222281   0.290953     10
James  -1.211638 -1.897151   1.110059     10
Lars    0.150839 -0.149028   0.386945     10
gokhan -1.399903 -2.285754  -0.646007     10

In [62]:
new_df.drop("extra",axis=1,inplace=True)

KeyError: "['extra'] not found in axis"